{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxSingleQuote": true,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"singleAttributePerLine": false
}
